# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Environment & secrets
.env
config/client_secret.json
config/token.json
token.json
client_secret.json

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db